@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

/*font-family: 'Righteous', cursive;
font-family: 'Sarala', sans-serif;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.imagem-logo{
    height: 72px;
}

.menu-navegacao{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}

.conteudo{
    border-top: 0.4px solid #FFF2E7;
    margin-bottom: 48px;
}

.secao-um{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.parte-escrita{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
}

.subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ecd6c4;
}

.botao:hover{
    background-color: rgba(236, 214, 196, 0.53);
}

.botao{
    background-color: #ecd6c4;
    width: 185px;
    height: 67px;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 25);
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
}   

.imagem-principal{
    width: 430px;
}

.secao-dois{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.secao-dois-titulo{
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
    margin-bottom: 16px;
}

.secao-dois-subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ecd6c4;
}   

.footer{
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.imagem-footer{
    height: 48px;
    display: block;
    margin: 0 auto;
}